.mainContainer {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:20px;
    margin-top:20px;
}
.panel {
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    width:fit-content
}